<div class="mx-auto w-full py-6 sm:px-6 lg:px-8 bg-cover footer-bg-image bg-no-repeat bg-center absolute bottom-0 left-0">
  <div class="flex justify-center align-middle flex-col text-center">
    <img class="w-16 md:w-32 lg:w-48 mx-auto" src="assets/logo.png">
    <p class="text-white font-medium">SISTEM INFORMASI HARGA DAN PASOKAN PANGAN</p>
    <p class="text-yellow-500 font-medium">SULAWESI SELATAN</p>
    <p class="mt-8 text-white font-semibold">
      Sekretariat Tim Pengendalian Inflasi Provinsi Sulawesi Selatan
    </p>
    <div class="flex flex-col md:flex-row justify-center">
      <p class="text-white font-extralight">Alamat kantor</p>
      <p class="hidden md:block text-white">&nbsp;|&nbsp;</p>
      <p class="text-white font-extralight">Nomor telepon</p>
    </div>
  </div>
  <div class="border-t border-white mt-5 py-3 flex flex-col sm:flex-row sm:justify-between text-white text-center">
    <p class="font-extralight my-2">Copyright</p>
    <p class="font-semibold my-2">Email</p>
    <p class="font-extralight my-2">Creator</p>
  </div>
</div>
